
CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wall
    - -Wextra
    - --std=gnu17

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
      - readability-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - modernize-*
    Remove:
      - readability-braces-around-statements
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - readability-identifier-length
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-bounds-pointer-arithmetic

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
